---
layout: page
title: "Project: CopDEM"
excerpt: "Karttur's GeoImagine Framework: Copernicus Digital Elevation Model (DEM) processing"
image: rainfall-delta_3B43_trmm_2001-2016_mk-z-ts-model
search_omit: true
---

<h2>Json command files belonging to Karttur's GeoImagine Framework.

Project: CopDEM</h2>

<ul class="post-list">
{% for post in site.categories.projects reversed %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
